<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title style="padding-left: 12px;">
            <span style="font-size: 85%;">{{selectedWord.en}}</span>
        </ion-title>
        <ion-buttons slot="primary" *ngIf="otherTraductions?.length > 1">
            <ion-button (click)="onOtherTraductionPopoverClick($event)">
                <ion-icon slot="icon-only" ios="list-outline" md="list-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-item>
    <ion-textarea style="margin-top: 4px;" [(ngModel)]="selectedWord.fr" auto-grow="true" rows="1" placeholder="French"></ion-textarea>
</ion-item>
<ion-content>
    <ion-list>
        <ion-spinner style="display: block; margin: 80px auto;" *ngIf="!wordTraductions" name="lines"></ion-spinner>
        <ion-item *ngIf="wordTraductions && !wordTraductions.length"><ion-label><b>No result found !</b></ion-label></ion-item>
        <div *ngFor="let item of wordTraductions;">
            <ion-item-divider button sticky="true" color="light" button (click)="onWordClick(item)">
                <ion-label>
                    <b>{{item?.en}} {{item?.phonetique}} {{item?.formeFlechie}} {{item?.metalangue}}</b>
                </ion-label>
                <ion-label slot="end" class="category-divider">
                    <b>{{item | wordTypeMap }}</b>
                </ion-label>
                <ion-icon *ngIf="item?.audio.length" class="audio-divider" slot="end" name="volume-high-outline"></ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let trad of item?.traductions" button (click)="onTraductionClick(trad)">
                <!-- No locution: i.e. main translation -->
                <div *ngIf="!trad?.locution" class="traduction-container">
                    <div class="number">{{trad?.number}}</div>
                    <div *ngIf="trad?.lien" class="renvois">→</div>
                    <div *ngIf="trad?.indicateur" class="indicateur">{{trad.indicateur}}</div>
                    <div *ngIf="trad?.indicateurDomaine" class="indicateur capital">{{trad.indicateurDomaine}}</div>
                    <div *ngIf="trad?.traduction" class="traduction">{{trad.traduction}}</div>
                </div>
                <!-- locution -->
                <ion-spinner *ngIf="trad?.audio && fetchAudio === trad?.audio" class="spinner" slot="end"></ion-spinner>
                &nbsp;
                <ion-icon *ngIf="trad?.audio && fetchAudio !== trad?.audio" slot="end" class="audio" name="volume-high-outline"></ion-icon>
                <div *ngIf="trad?.locution" class="locution-container">
                    <div *ngIf="trad?.indicateur" class="indicateur">{{trad.indicateur}}</div>
                    <div *ngIf="trad?.indicateurDomaine" class="indicateur capital">{{trad.indicateurDomaine}}</div>
                    <div *ngIf="trad?.locution" class="locution">{{trad.locution}}</div>
                    <div *ngIf="trad?.traduction" class="traduction2">{{trad.traduction}}</div>
                    <div *ngFor="let tradItem of trad?.traductionSubList" class="locution2-container">
                        <span>-</span>
                        &nbsp;
                        <div *ngIf="tradItem?.indicateur" class="indicateur inline">{{tradItem.indicateur}}</div>
                        <div *ngIf="tradItem?.traduction" class="traduction2 inline">{{tradItem.traduction}}</div>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
