ion-menu-button {
  color: var(--ion-color-primary);
}

.word-card-content {
  padding: 6px 10px;
  
  .flex-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .en {
      font-weight: bold;
    }
  
    .type {
      color: darkblue;
    }
  
    .cat {
      text-align: right;
      padding-left: 6px;
      background-color: white;
      color: darkred;
    }
  }
}
