ion-menu-button {
  color: var(--ion-color-primary);
}

.word-card-content {
  padding: 6px 10px;

  .en {
    font-weight: bold;
  }

  .type {
    color: darkblue;
    top: 6px;
    right: 10px;
    position: fixed;
  }

  .cat {
    padding-left: 6px;
    background-color: white;
    color: darkred;
    bottom: 6px;
    right: 10px;
    position: fixed;
  }
}
