ion-menu-button {
  color: var(--ion-color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #428cff;
  }
}

.word-card-content {
  padding: 6px 10px;
  
  .flex-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .en {
      font-weight: bold;
    }
  
    .type {
      color: darkblue;
    }

    .cat {
      text-align: right;
      padding-left: 4px;
      color: darkred;
    }

    @media (prefers-color-scheme: dark) {
      .type {
        color: #4CABFA;
      }
      .cat {
        color: rgb(185, 0, 71);
      }
    }
  }
}
