.category-divider {
    margin-left: 16px;
    margin-right: 16px;
}

.audio-divider {
    margin-left: 0px;
    margin-right: 5px;
    height: 18px;
}

.audio {
    margin-left: 0px;
    margin-right: -10px;
    height: 18px;
}

.locution-container {
    padding-top: 2px;
    padding-bottom: 4px;
    color: #444;

    .locution2-container {
        margin-left: 12px;
    }

    div {
        font-size: 90%;
    }
    .indicateur {
        margin-right: 6px;
        color: green;
        &.inline {
            display: inline-block;
        }
    }
    .locution {
        margin-left: 8px;
    }
    .traduction2 {
        margin-left: 10px;
        font-style: italic;
        color: #428cff;
        &.inline {
            margin-left: 0;
            display: inline-block;
        }
    }
}

.traduction-container {
    .number {
        font-size: 90%;
        margin-right: 6px;
        display: inline-block;
    }
    .indicateur {
        margin-right: 6px;
        display: inline-block;
        color: green;
    }
    .traduction {
        font-style: italic;
        display: inline-block;
        color: #444;
    }
    mark {
        color: green;
        font-style: normal;
    }
}
