ion-menu-button {
  color: var(--ion-color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #428cff;
  }
}

.no-click:active {
  --ripple-color: transparent
}

.word-content { 
  width: 100%;
  padding: 5px 0px; 
  .flex-row {
    padding: 3px 0px; 
    display: flex;
    //flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    .en {
      flex-grow: 1;
      font-weight: bold;
    }

    .fr {
      flex-grow: 1;
    }
  
    .type {
      color: darkblue;
    }

    .cat {
      text-align: right;
      padding-left: 4px;
      color: darkred;
    }

    @media (prefers-color-scheme: dark) {
      .type {
        color: #4CABFA;
      }
      .cat {
        color: rgb(185, 0, 71);
      }
    }
  }
}
